.map-container {
    position: relative;
}

.logo-container {
    position: absolute;
    top: 10px; 
    left: 10px; 
    z-index: 1000; /* Ensures the logo is above the map */
}

.logo-container img {
    width: 75px;
    height: auto;
}